@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * c-archive1
 * ニュースリスト
 */
.c-archive1__article {
  border-bottom: 1px solid;
  padding-bottom: f.vw(20);
  & + & {
    padding-top: f.vw(20);
  }
}
.c-archive1__date {
  font-size: f.vw(14);
}
.c-archive1__title {
  margin-top: f.vw(5);
}
.c-archive1__content {
  margin-top: f.vw(5);
}
