@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * c-btn1
 * 通常ボタン
 */
.c-btn1 {
  width: 100%;
  max-width: f.vw(240);
  margin-inline: auto;
}
.c-btn1__link {
  display: grid;
  padding: f.vw(5);
  border: 1px solid;
  border-radius: calc(1px / 0);
  place-items: center;
}

@include m.m {
  .c-btn1 {
    max-width: f.vw(300);
  }
}
