@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * c-btn1
 * 通常ボタン
 */
.c-btn1 {
  // width: 100%;
  // max-width: f.rem(240);
  width: fit-content;
  margin-inline: auto;
}
.c-btn1__link {
  display: grid;
  padding: f.rem(10) f.rem(20) f.rem(10) f.rem(30);
  border: 1px solid;
  border-radius: calc(1px / 0);
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: f.rem(20);
  transition: background-color var(--duration), color var(--duration);
  @include m.hover {
    background: var(--black);
    color: white;
    .c-btn1__ico {
      color: red;
    }
  }
}
.c-btn1__txt {
}
.c-btn1__ico {
  width: f.rem(8);
  height: f.rem(10);
  color: blue;
}

// @include m.mq-up(md) {
//   .c-btn1 {
//     max-width: f.rem(300);
//   }
// }
