@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * c-head1
 * 見出し
 */
.c-head1 {
  text-align: center;
}
.c-head1__ja {
  font-size: f.rem(20);
}
.c-head1__en {
  margin-top: f.rem(10);
  font-size: f.rem(16);
}

@include m.mq-up(md) {
  .c-head1__ja {
    font-size: f.rem(24);
  }
  .c-head1__en {
    font-size: f.rem(20);
  }
}
