@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * c-head1
 * 見出し
 */
.c-head1 {
  text-align: center;
}
.c-head1__ja {
  font-size: f.vw(20);
}
.c-head1__en {
  font-size: f.vw(16);
}

@include m.m {
  .c-head1__ja {
    font-size: f.vw(24);
  }
  .c-head1__en {
    font-size: f.vw(20);
  }
}
