@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * c-head1
 * 見出し
 */
.c-head1 {
  text-align: center;
  font-weight: 700;
  font-size: f.vw(20);
}

@include m.m {
  .c-head1 {
    font-size: f.vw(24);
  }
}
