@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * c-ico
 * SVGアイコン画像
 */
.c-ico {
  svg {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    line-height: 1;
    fill: currentColor;
  }
}
