@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * c-pager1
 * 一覧用ページャー
 */
.c-pager1 {
  margin-top: f.rem(50);
}
.c-pager1__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: f.rem(10);
  a,
  span {
    display: grid;
    width: f.rem(40);
    height: f.rem(40);
    border: 1px solid;
    border-radius: 50%;
    place-items: center;
    font-size: f.rem(14);
    text-decoration: none;
  }
  .between,
  .first,
  .prev,
  .next,
  .last {
    width: f.rem(20);
    border: none;
  }
  .current {
    background: var(--black);
    color: white;
  }
}

@include m.mq-up(md) {
  .c-pager1 {
    margin-top: f.rem(80);
  }
  .c-pager1__list {
    gap: f.rem(20);
  }
}

/**
 * c-pager2
 * 一覧用ページャー
 */
.c-pager2 {
  display: grid;
  margin-top: f.rem(50);
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  gap: f.rem(10) f.rem(20);
  a {
    width: fit-content;
    padding: f.rem(10);
    font-size: f.rem(14);
  }
}
.c-pager2__prev {
  margin-inline: auto 0;
  text-align: right;
}
.c-pager2__back {
  a {
    display: grid;
    place-items: center;
    background: var(--black);
    color: white;
  }
}

@include m.mq-up(md) {
  .c-pager2 {
    margin-top: f.rem(80);
    gap: f.rem(30);
    a {
      padding: f.rem(10) f.rem(30);
      font-size: f.rem(16);
    }
  }
}
