@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;
@use "../../foundation/variable" as v;

/**
 * Layout
 */

// インナー幅
.u-inner {
  padding-inline: f.rem(v.$sp-gutter);
  @include m.mq-up(md) {
    width: 100%;
    max-width: clamp(#{f.rem(v.$inner-min)}, calc(#{v.$inner-ratio} * 100vw), #{f.rem(v.$inner-max)});
    margin-inline: auto;
    padding-inline: f.rem(v.$pc-gutter);
  }
}
