@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;
@use "../../foundation/variable" as v;

/**
 * Typography
 */
.u-font-bold {
  font-weight: 700;
}
.u-font-black {
  font-weight: 900;
}
.u-text-black {
  color: var(--black);
}
.u-text-gray {
  color: var(--gray);
}
.u-leading-trim {
  margin-block: calc((1em - 1lh) / 2);
  &[lang="en"] {
    margin-block: calc((1cap - 1lh) / 2);
  }
}
