@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;
@use "../../foundation/variable" as v;

/**
 * Other
 */

// ホバー時の透過
.u-alpha {
  transition: opacity var(--duration);
  @include m.hover() {
    opacity: 0.7;
  }
}
