@use "../foundation/mixin" as m;
@use "../foundation/functions" as f;

/**
 * l-footer
 */
.l-footer {
  position: relative;
  background: var(--black);
  color: white;
}
.l-footer__inner {
  padding-top: f.rem(30);
  padding-bottom: f.rem(30);
  text-align: center;
}
.l-footer__copyright {
  margin-top: f.rem(20);
  font-size: f.rem(10);
}
@include m.mq-up(md) {
  .l-footer__inner {
    padding-top: f.rem(50);
    padding-bottom: f.rem(50);
    text-align: center;
  }
  .l-footer__copyright {
    font-size: f.rem(12);
  }
}
