@use "../foundation/mixin" as m;
@use "../foundation/functions" as f;

/**
 * l-footer
 */
.l-footer {
  position: relative;
  background: var(--black);
  color: white;
}
.l-footer__inner {
  padding-top: f.r(30);
  padding-bottom: f.r(30);
  text-align: center;
}
.l-footer__copyright {
  margin-top: f.r(20);
  font-size: f.r(10);
}
@include m.m {
  .l-footer__inner {
    padding-top: f.r(50);
    padding-bottom: f.r(50);
    text-align: center;
  }
  .l-footer__copyright {
    font-size: f.r(12);
  }
}
