@use "../foundation/mixin" as m;
@use "../foundation/functions" as f;

/**
 * l-nav
 */
@include m.mq-down(md) {
  .l-nav {
    display: block;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: opacity var(--duration), visibility var(--duration);
    background: white;
    &.is-open {
      visibility: visible;
      opacity: 1;
    }
  }
  .l-nav__list {
    padding: f.rem(100) f.rem(15);
    text-align: center;
  }
}

@include m.mq-up(md) {
  .l-nav {
  }
  .l-nav__list {
    display: flex;
    justify-content: flex-end;
    gap: f.rem(30);
  }
}

/**
 * l-nav-hamburger
 */
.l-nav-hamburger {
  width: f.rem(40);
  height: f.rem(40);
  border: 1px solid var(--black);
  position: absolute;
  top: f.rem(10);
  right: f.rem(10);
  z-index: 2;
  background: white;

  // 閉じるボタン
  &.is-open {
    .l-nav-hamburger__icon {
      background: transparent;
      &::before {
        top: 0;
        rotate: 135deg;
      }
      &::after {
        top: 0;
        rotate: -135deg;
      }
    }
  }
}

.l-nav-hamburger__icon {
  width: f.rem(28);
  height: 1px;
  position: absolute;
  top: 50%;
  left: f.rem(5);
  transition: all var(--duration);
  background: var(--black);
  &::before,
  &::after {
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0;
    transition: inherit;
    background: var(--black);
  }
  &::before {
    top: f.rem(-9);
  }
  &::after {
    top: f.rem(9);
  }
}

/**
 * l-nav-overlay
 */
.l-nav-overlay {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity var(--duration), visibility var(--duration);
  background: var(--black-30);
  backdrop-filter: blur(5px);
  &.is-open {
    visibility: visible;
    opacity: 1;
  }
}
