@use "../foundation/mixin" as m;
@use "../foundation/functions" as f;

/**
 * l-page-top
 */
.l-page-top {
  opacity: 0;
  position: fixed;
  right: f.rem(15);
  bottom: f.rem(30);
  transition: opacity var(--duration);
  color: var(--black);
  &.is-show {
    opacity: 1;
  }
  &.is-stop {
    position: absolute;
  }
}
.l-page-top__link {
  display: block;
  width: f.rem(40);
  height: f.rem(40);
  border: 1px solid;
  border-radius: 50%;
  background: white;
  &::before {
    content: "";
    width: f.rem(10);
    height: f.rem(10);
    border-top: f.rem(2) solid;
    border-right: f.rem(2) solid;
    position: absolute;
    top: calc(50% + f.rem(2));
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
@include m.mq-up(md) {
  .l-page-top {
    right: f.rem(30);
  }
  .l-page-top__link {
    width: f.rem(50);
    height: f.rem(50);
  }
}
