@use "../foundation/mixin" as m;
@use "../foundation/functions" as f;

/**
 * l-page-top
 */
.l-page-top {
  opacity: 0;
  position: fixed;
  right: f.vw(30);
  bottom: f.vw(30);
  color: rgb(var(--black));
  transition: opacity var(--duration);
  &.is-show {
    opacity: 1;
  }
  &.is-stop {
    position: absolute;
  }
}

.l-page-top__link {
  display: block;
  width: f.vw(40);
  height: f.vw(40);
  border: 1px solid;
  border-radius: 50%;
  background: white;
  &::before {
    content: "";
    position: absolute;
    top: calc(50% + f.vw(2));
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: f.vw(10);
    height: f.vw(10);
    border-top: f.vw(2) solid;
    border-right: f.vw(2) solid;
  }
}

@include m.m {
  .l-page-top__link {
    width: f.vw(50);
    height: f.vw(50);
  }
}
