@use "../foundation/mixin" as m;
@use "../foundation/functions" as f;

/**
 * l-sub-kv
 */
.l-sub-kv {
  display: grid;
  height: f.vw(200);
  place-items: center;
  background: rgb(var(--gray) / 0.3);
}
.l-sub-kv__txt {
  font-weight: 700;
}

@include m.m {
  .l-sub-kv {
    height: f.vw(400);
  }
}
