@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * p-about-intro
 */
.p-about-intro__inner {
  padding-top: f.r(50);
  padding-bottom: f.r(50);
  text-align: center;
}
.p-about-intro__txt {
  margin-top: f.r(30);
  & + & {
    margin-top: 1em;
  }
}
@include m.m {
  .p-about-intro__inner {
    padding-top: f.r(100);
    padding-bottom: f.r(100);
  }
}

/**
 * p-about-flex
 */
.p-about-flex__inner {
  padding-top: f.r(50);
  padding-bottom: f.r(100);
}
.p-about-flex__head {
  font-size: f.v(28);
  text-align: center;
}
.p-about-flex__circle {
  margin-top: f.r(30);
  width: f.v(200);
  background: var(--black);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-inline: auto;
}
@include m.m {
  .p-about-flex__inner {
    padding-top: f.r(100);
  }
  .p-about-flex__circle {
    width: f.v(300);
  }
}

/**
 * p-about-modal
 */
.p-about-modal__inner {
  padding-top: f.r(50);
  padding-bottom: f.r(100);
}
.p-about-modal__head {
  font-size: f.r(28);
  text-align: center;
}
@include m.m {
  .p-about-modal__inner {
    padding-top: f.r(100);
  }
}
