@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * p-about-intro
 */
.p-about-intro__inner {
  padding-top: f.rem(50);
  padding-bottom: f.rem(50);
  text-align: center;
}
.p-about-intro__txt {
  margin-top: f.rem(30);
  & + & {
    margin-top: 1em;
  }
}
@include m.mq-up(md) {
  .p-about-intro__inner {
    padding-top: f.rem(100);
    padding-bottom: f.rem(100);
  }
}

/**
 * p-about-flex
 */
.p-about-flex__inner {
  padding-top: f.rem(50);
  padding-bottom: f.rem(100);
}
.p-about-flex__head {
  font-size: f.vw(24, 32);
  text-align: center;
}
.p-about-flex__circle {
  margin-top: f.rem(30);
  width: f.vw(200);
  background: var(--black);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-inline: auto;
}
@include m.mq-up(md) {
  .p-about-flex__inner {
    padding-top: f.rem(100);
  }
  .p-about-flex__head {
    font-size: f.vw(36, 42);
  }
  .p-about-flex__circle {
    width: f.vw(300);
  }
}

/**
 * p-about-modal
 */
.p-about-modal__inner {
  padding-top: f.rem(50);
  padding-bottom: f.rem(100);
}
.p-about-modal__head {
  font-size: f.rem(28);
  text-align: center;
}
@include m.mq-up(md) {
  .p-about-modal__inner {
    padding-top: f.rem(100);
  }
}
