@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * p-contact-main
 */
.p-contact-main {
}
.p-contact-main__inner {
  padding-top: f.rem(50);
  padding-bottom: f.rem(50);
}
@include m.mq-up(md) {
  .p-contact-main__inner {
    padding-top: f.rem(100);
    padding-bottom: f.rem(100);
  }
}
