@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * p-contact-main
 */
.p-contact-main {
}
.p-contact-main__inner {
  padding-top: f.r(50);
  padding-bottom: f.r(50);
}
@include m.m {
  .p-contact-main__inner {
    padding-top: f.r(100);
    padding-bottom: f.r(100);
  }
}
