@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * p-index-kv
 */
.p-index-kv {
  display: grid;
  height: 100vh;
  place-items: center;
  background: var(--black-30);
  font-size: f.rem(20);
}
@include m.mq-up(md) {
  .p-index-kv {
    font-size: f.rem(24);
  }
}

/**
 * p-index-about
 */
.p-index-about__inner {
  padding-top: f.rem(50);
  padding-bottom: f.rem(50);
}
.p-index-about__container {
  margin-top: f.rem(30);
}
.p-index-about__txts {
  margin-top: f.rem(30);
}
.p-index-about__txt {
  & + & {
    margin-top: 1em;
  }
  &.-rem {
    font-size: f.rem(20);
  }
}
.p-index-about__btn {
  margin-top: f.rem(50);
}
@include m.mq-up(md) {
  .p-index-about__inner {
    padding-top: f.rem(100);
    padding-bottom: f.rem(100);
  }
  .p-index-about__container {
    display: grid;
    margin-top: f.rem(50);
    grid-template-columns: 1fr 1fr;
    gap: f.rem(30);
  }
  .p-index-about__txts {
    margin-top: 0;
  }
  .p-index-about__btn {
    margin-top: f.rem(80);
  }
}

/**
 * p-index-news
 */
.p-index-news {
  background: var(--black-30);
}
.p-index-news__inner {
  padding-top: f.rem(50);
  padding-bottom: f.rem(50);
}
.p-index-news__article {
  margin-top: f.rem(30);
}
.p-index-news__btn {
  margin-top: f.rem(50);
}
@include m.mq-up(md) {
  .p-index-news__inner {
    padding-top: f.rem(100);
    padding-bottom: f.rem(100);
  }
  .p-index-news__article {
    width: f.rem(700);
    margin-top: f.rem(50);
    margin-inline: auto;
  }
  .p-index-news__btn {
    margin-top: f.rem(80);
  }
}

/**
 * p-index-public
 */
.p-index-public__inner {
  padding-top: f.rem(50);
  padding-bottom: f.rem(50);
}
.p-index-public__img {
  margin-top: f.rem(50);
  width: f.vw(200);
  margin-inline: auto;
}
@include m.mq-up(md) {
  .p-index-public__inner {
    padding-top: f.rem(100);
    padding-bottom: f.rem(100);
  }
  .p-index-public__img {
    width: f.vw(700);
  }
}
