@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * p-index-kv
 */
.p-index-kv {
  display: grid;
  height: 50vh;
  place-items: center;
  background: rgb(var(--gray) / 0.3);
  font-size: f.vw(20);
}

@include m.m {
  .p-index-kv {
    font-size: f.vw(24);
  }
}

/**
 * p-index-about
 */
.p-index-about__inner {
  padding-top: f.vw(50);
  padding-bottom: f.vw(50);
}
.p-index-about__container {
  margin-top: f.vw(30);
}
.p-index-about__txts {
  margin-top: f.vw(30);
}
.p-index-about__txt {
  & + & {
    margin-top: 1em;
  }
  &.-rem {
    font-size: f.rem(20);
  }
}
.p-index-about__btn {
  margin-top: f.vw(50);
}
@include m.m {
  .p-index-about__inner {
    padding-top: f.vw(100);
    padding-bottom: f.vw(100);
  }
  .p-index-about__container {
    display: grid;
    margin-top: f.vw(50);
    grid-template-columns: 1fr 1fr;
    gap: f.vw(50);
  }
  .p-index-about__txts {
    margin-top: 0;
  }
  .p-index-about__btn {
    margin-top: f.vw(80);
  }
}

/**
 * p-index-news
 */
.p-index-news {
  background: rgb(var(--gray) / 0.3);
}
.p-index-news__inner {
  padding-top: f.vw(50);
  padding-bottom: f.vw(50);
}
.p-index-news__article {
  margin-top: f.vw(30);
}
.p-index-news__btn {
  margin-top: f.vw(50);
}
@include m.m {
  .p-index-news__inner {
    padding-top: f.vw(100);
    padding-bottom: f.vw(100);
  }
  .p-index-news__article {
    width: f.vw(700);
    margin-top: f.vw(50);
    margin-inline: auto;
  }
  .p-index-news__btn {
    margin-top: f.vw(80);
  }
}
