@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * p-index-kv
 */
.p-index-kv {
  display: grid;
  height: f.vw(300);
  place-items: center;
  background: rgb(var(--gray) / 0.3);
}

@include m.m {
  .p-index-kv {
    height: f.vw(500);
  }
}

/**
 * p-index-components
 */
.p-index-components {
}
.p-index-components__inner {
  padding-top: f.vw(50);
  padding-bottom: f.vw(50);
  text-align: center;
}

@include m.m {
  .p-index-components {
  }
  .p-index-components__inner {
    padding-top: f.vw(100);
    padding-bottom: f.vw(100);
  }
}

/**
 * p-index-test
 */
.p-index-test {
  background: rgb(var(--gray) / 0.3);
}
.p-index-test__inner {
  padding-top: f.vw(50);
  padding-bottom: f.vw(50);
  background: rgb(var(--gray) / 0.3);
  text-align: center;
}
.p-index-test__box {
  background: white;
}
.p-index-test__txt1 {
  font-size: f.vw(20);
}
.p-index-test__txt2 {
  margin-top: 20px;
  font-size: 20px;
}
@include m.m {
  .p-index-test__inner {
    padding-top: f.vw(100);
    padding-bottom: f.vw(100);
  }
}

/**
 * p-svg
 */
.p-svg {
}
.p-svg__inner {
  padding-top: f.vw(50);
  padding-bottom: f.vw(50);
}
.p-svg__txt {
  text-align: center;
}
.p-svg__ico {
  width: f.vw(30);
}

@include m.m {
  .p-svg__inner {
    padding-top: f.vw(100);
    padding-bottom: f.vw(100);
  }
}

/**
 * p-news
 */
.p-news {
  background: rgb(var(--gray) / 0.3);
}
.p-news__inner {
  padding-top: f.vw(50);
  padding-bottom: f.vw(50);
}
.p-news__txt {
  text-align: center;
}
.p-news__ico {
  width: f.vw(30);
}

@include m.m {
  .p-news__inner {
    padding-top: f.vw(100);
    padding-bottom: f.vw(100);
  }
}

/**
 * p-image
 */
.p-image {
}
.p-image__inner {
  padding-top: f.vw(50);
  padding-bottom: f.vw(50);
}
.p-image__txt {
  text-align: center;
}
.p-image__img {
  max-width: f.vw(600);
  margin: 0 auto;
}

@include m.m {
  .p-image__inner {
    padding-top: f.vw(100);
    padding-bottom: f.vw(100);
  }
}
