@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * p-news-archive
 */
.p-news-archive__inner {
  padding-top: f.r(50);
  padding-bottom: f.r(50);
}
.p-news-archive__article {
  margin-top: f.r(30);
}
@include m.m {
  .p-news-archive__inner {
    padding-top: f.r(100);
    padding-bottom: f.r(100);
  }
  .p-news-archive__article {
    margin-top: f.r(50);
  }
}

/**
 * p-news-article
 */
.p-news-article__inner {
  padding-top: f.r(50);
  padding-bottom: f.r(50);
}
.p-news-article__date {
  font-size: f.r(16);
}
.p-news-article__title {
  margin-top: f.r(5);
  font-size: f.r(20);
}
.p-news-article__content {
  margin-top: f.r(30);
}
@include m.m {
  .p-news-article__inner {
    padding-top: f.r(100);
    padding-bottom: f.r(100);
  }
  .p-news-article__date {
    font-size: f.r(20);
  }
  .p-news-article__title {
    font-size: f.r(24);
  }
  .p-news-article__content {
    margin-top: f.r(50);
  }
}
