@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * p-news-archive
 */
.p-news-archive__inner {
  padding-top: f.rem(50);
  padding-bottom: f.rem(50);
}
.p-news-archive__article {
  margin-top: f.rem(30);
}
@include m.mq-up(md) {
  .p-news-archive__inner {
    padding-top: f.rem(100);
    padding-bottom: f.rem(100);
  }
  .p-news-archive__article {
    margin-top: f.rem(50);
  }
}

/**
 * p-news-article
 */
.p-news-article__inner {
  padding-top: f.rem(50);
  padding-bottom: f.rem(50);
}
.p-news-article__date {
  font-size: f.rem(16);
}
.p-news-article__title {
  margin-top: f.rem(5);
  font-size: f.rem(20);
}
.p-news-article__content {
  margin-top: f.rem(30);
}
@include m.mq-up(md) {
  .p-news-article__inner {
    padding-top: f.rem(100);
    padding-bottom: f.rem(100);
  }
  .p-news-article__date {
    font-size: f.rem(20);
  }
  .p-news-article__title {
    font-size: f.rem(24);
  }
  .p-news-article__content {
    margin-top: f.rem(50);
  }
}
